main{
    display: grid;
    min-height: 100%;
    width: 100vw;
    grid-template-columns: 8fr 4fr;
}

.detailsList{
    height: calc(100vh - 120px);
    background-color: rgb(255, 255, 255);
    color:#333;
}

.lists{
    min-height: calc(100vh - 120px);
    background-color: rgb(233, 233, 233);
    color:rgb(37, 35, 35);
    border-left: 1px solid rgb(236, 236, 236);
}

.box_list{
    display: grid;
    grid-template-columns: 11fr 1fr;
    padding: 15px;
    margin: 6px 5px 5px;
    font-size: 1.4em;
    box-shadow: 0px 2px 1px rgba(195, 195, 195, 0.685), -1px -3px 4px rgba(193, 193, 193, 0.685);
}

.box_list > div{
    cursor: pointer;
}